.header {
    padding: 30px;
    background-color: #ccc;
    color: #FFF;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.mail-item {
    display: block;
}

#question-text {
    color: blue;
}