{% extends 'polls/base.html' %}

{% block my-content %}
<!--    <p><a href="{{ request.META.HTTP_REFERER }}">Back</a></p>-->
    <p><a href="{% url 'polls_route:questions' %}">Back</a></p>

    <h4>Question:</h4>
    <h5>{{question.question_text}}</h5>

    {% if choices %}
        {% for choice in choices %}
            <p>{{choice.choice_text}}: <i style="color:blue;">{{choice.vote}}</i></p>
        {% endfor %}
    {% else %}
        <h3 style="color:red;">Don't have any choices</h3>
    {% endif %}

{% endblock %}
